/* General setup */
/* <!--
	Name: Divyansh kumar
	File: styles.css
	Date: 18 October 2023
	college's website styling
	--> */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
html {
  font-size: 15px;
}


h1 {
  text-align: center;
  font-family: 'myfont', sans-serif;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

nav ul {
  margin-top: 1rem;
}

nav li {
  margin-bottom: 2rem;
  list-style-type: none;
}

nav li a:active {
  color: white;
  background: black;
}

nav li a {
  border: 1px solid rgb(143, 58, 58);
  
  text-align: center;
  
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  line-height: 4;
}

nav li a:focus, nav li a:hover {
  background: rgb(141, 60, 60);
  color: white;
}

a[href*="http"] {
  background: url(external-link-52.png) no-repeat 100% 0;
  padding-right: 15px;

  background-size: 13px 13px;
}

@font-face {
  font-family: 'myfont';
  src: url('Copse-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

nav ul li a {
  text-decoration: none;
  color: rgb(181, 112, 106);
}


