/* General setup */
/* <!--
	Name: Divyansh kumar
	File: styles.css
	Date: 18 October 2023
	college's website styling
	--> */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
html {
  font-size: 15px;
}


h1 {
  text-align: center;

  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}