/* <!--
	Name: Divyansh kumar
	File: index.html
	Date: 02 October 2023
	Fixing the box
	--> */
html {
  font-family: sans-serif;
}

.box{
	background-color: red;
	width: 200px;      
    height: 100px;    
    padding: 20px;    
	text-align: center;

}

/* Your CSS below here */