/* <!--
	Name: Divyansh kumar
	File: index.html
	Date: 02 October 2023
	Fixing the box
	--> */
html {
  font-family: sans-serif;
}

.box{
	background-color: red;
	width: 200px;      
    height: 150px;    
	margin: auto;
    padding: 20px;    
	text-align: center;
	border: 2px;
	border-radius: 12px;
	justify-content: center;
    align-items: center;
	display: flex;
	font-size: 1.3rem;
	color: white;
	text-shadow: 2px 2px 2px black;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.6), inset -2px -2px 3px rgb(0, 0, 0), 2px 2px 7px black;
	

}

/* Your CSS below here */